body {
    background: url(./images/background.jpg) no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.container > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.space {
    height: 10px;
}
.space-2 {
    height: 310px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid white;
    margin: 40px;
}
.scissors-btn {
    background: url(./images/schere.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.rock-btn {
    background: url(./images/steine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%; 
}
.paper-btn {
    background: url(./images/papier.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%; 
}
.score-board {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.scores {
    font-size: 20px;
    display: flex;
}
.p-score {
    flex: 1;
    margin-right: 50px;
}
.p-score p {
    text-align: center;
}
.c-score {
    flex: 1;
    margin-left: 40px;
}
.c-score p {
    text-align: center;
}
.choice-board {
    font-size: 50px;
    height: 100px;
}
.space-choices {
    width: 165px;
}